name: Deploy Android app to Internal Test on merge

on:
  push:
    branches:
      - master
    paths:
      - "client/**"

  # Allows you to run this workflow manually from the Actions a tab
  workflow_dispatch:

jobs:
  # build_android:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v2
  #     - name: Setup Java
  #       uses: actions/setup-java@v1
  #       with:
  #         java-version: 12.x
  #     - name: Decrypt Android keys
  #       run: sh ./.github/scripts/decrypt_android_keys.sh
  #       env:
  #         ANDROID_KEYS_SECRET_PASSPHRASE: ${{ secrets.ANDROID_KEYS_SECRET_PASSPHRASE }}
  #     - name: Setup Flutter
  #       uses: subosito/flutter-action@v1
  #       with:
  #         channel: "stable"
  #     - name: Install Flutter dependencies
  #       run: flutter pub get
  #     - name: Build the app bundle
  #       run: flutter build appbundle
  #     - name: Upload artifact to Github
  #       uses: actions/upload-artifact@v1
  #       with:
  #         name: release-aab
  #         path: build/app/outputs/bundle/release/app-release.aab
  deploy_android:
    runs-on: ubuntu-latest
    # needs: [build_android]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 12.x
      - name: Decrypt Android keys
        run: |
          chmod +x ./.github/scripts/decrypt_android_keys.sh
          ./.github/scripts/decrypt_android_keys.sh
        shell: bash
        env:
          ANDROID_KEYS_SECRET_PASSPHRASE: ${{ secrets.ANDROID_KEYS_SECRET_PASSPHRASE }}
      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: "stable"
      - name: Install Flutter dependencies
        run: flutter pub get
      - name: Build the app bundle
        run: flutter build appbundle
      - name: Run Fastlane
        uses: maierj/fastlane-action@v1.4.0
        with:
          lane: internal
          subdirectory: android
