name: Deploy iOS app to TestFlight on merge
on:
  push:
    branches:
      - master
    paths:
      - "client/**"

  # Allows you to run this workflow manually from the Actions a tab
  workflow_dispatch:

jobs:
  deploy_ios:
    name: Deploy beta build to TestFlight
    runs-on: macOS-latest
    steps:
      - name: Checkout code from ref
        uses: actions/checkout@v2
      # The flutter action needs java so include it
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - name: Install Homebrew, step 1
        run: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
        shell: bash
      - name: Install Homebrew, step 2
        run: echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> ~/.zprofile
        shell: bash
      - name: Install Homebrew, step 3
        run: eval "$(/opt/homebrew/bin/brew shellenv)"   
        shell: bash
      - name: Install gnupg
        run: brew install gnupg
        shell: bash
      - name: Decrypt iOS keys
        run: cd .github/scripts && chmod +x decrypt_ios_secrets.sh && ./decrypt_ios_secrets.sh
        shell: bash
        env:
          IOS_KEYS_SECRET_PASSPHRASE: ${{ secrets.IOS_KEYS_SECRET_PASSPHRASE }}
      - name: Run Flutter tasks
        uses: subosito/flutter-action@v1
        with:
          channel: "stable"
      - run: cd client && flutter pub get
      - name: Deploy iOS Beta to TestFlight via Fastlane
        uses: maierj/fastlane-action@v1.4.0
        with:
          lane: closed_beta
          subdirectory: client/ios
        env:
          APP_STORE_CONNECT_TEAM_ID: "${{ secrets.APP_STORE_CONNECT_TEAM_ID }}"
          DEVELOPER_APP_ID: "${{ secrets.DEVELOPER_APP_ID }}"
          DEVELOPER_APP_IDENTIFIER: "${{ secrets.DEVELOPER_APP_IDENTIFIER }}"
          DEVELOPER_PORTAL_TEAM_ID: "${{ secrets.DEVELOPER_PORTAL_TEAM_ID }}"
          FASTLANE_APPLE_ID: "${{ secrets.FASTLANE_APPLE_ID }}"
          FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD: "${{ secrets.FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD }}"
          MATCH_PASSWORD: "${{ secrets.MATCH_PASSWORD }}"
          GIT_AUTHORIZATION: "${{ secrets.GIT_AUTHORIZATION }}"
          GIT_URL: ${{ secrets.GIT_URL }}
          PROVISIONING_PROFILE_SPECIFIER: "${{ secrets.PROVISIONING_PROFILE_SPECIFIER }}"
          TEMP_KEYCHAIN_PASSWORD: "${{ secrets.TEMP_KEYCHAIN_PASSWORD }}"
          TEMP_KEYCHAIN_USER: "${{ secrets.TEMP_KEYCHAIN_USER }}"
          APPLE_KEY_ID: "${{ secrets.APPLE_KEY_ID }}"
          APPLE_ISSUER_ID: "${{ secrets.APPLE_ISSUER_ID }}"
          APPLE_KEY_CONTENT: "${{ secrets.APPLE_KEY_CONTENT }}"
