name: Deploy web app to Firebase Hosting on merge
on:
  push:
    branches:
      - master
    paths:
      - "client/**"
    paths-ignore:
      - "**/README.md"

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # The flutter action needs java so include it
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      # Include the flutter action
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
      # Get flutter packages
      - run: cd client && flutter pub get
      # Build web app
      - run: cd client && flutter build web
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_TODOAHOLIC_2671E }}"
          channelId: live
          projectId: todoaholic-2671e
          entryPoint: client
